$color-principal: #254336;
$color-secundario: #6B8A7A;
$color-terciario: #B7B597;
$color-cuaternario: #DAD3BE;
$color-oscuro-mate: #1a1a1a;
$color-oscuro-fuerte: #131313;
$color-blanco: #FAF9F6;
$color-gris-af: #afafaf;